@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-spreadsheet/styles/material.css";
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #fd5e00;
  --color-primary-hover: #e65500;
  --color-secondary: #9a9a9a;

  --color-section: #ffffff;
  --color-card: #f4f4f4;

  --color-background: #e6e6e6;
  --color-foreground: #000000;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-dm-mono: var(--font-dm-mono);
  --font-stix-two-math: var(--font-stix-two-math);
  /* --font-spline-sans: var(--font-spline-sans); */

  --shadow-primary: 0px 2px 3px -1px #fd5e00, 0px 1px 0px 0px #fd5e00,
    0px 8px 8px -4px #fd5e00, 0px 20px 20px -10px #fd5e00,
    0px 40px 40px -20px #fd5e00, 0px 60px 60px -30px #fd5e00;

    --shadow-card: 
  0px 2px 3px -1px rgba(0, 0, 0, 0.1),
  0px 1px 0px 0px rgba(25, 28, 33, 0.02),
  0px 8px 8px -4px rgba(25, 28, 33, 0.02),
  0px 20px 20px -10px rgba(25, 28, 33, 0.04),
  0px 40px 40px -20px rgba(25, 28, 33, 0.06),
  0px 60px 60px -30px rgba(25, 28, 33, 0.08);


  --shadow-badge: 0px 0px 5px 1px #fd5e00;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
}

*{

}

.chat-bubble {
  background-color: #ff6600; /* Orange color */
  color: #fff; /* White text */
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

/* Style the markdown elements rendered inside the bubble */
.chat-bubble h3 {
  /* This is an example if you had h3 tags. */
  margin-top: 0;
  font-size: 1.2rem;
}

.chat-bubble p {
  line-height: 1.6;
}

.chat-bubble strong {
  /* This will target the bolded text from the markdown */
  font-weight: bold;
}