
@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-react-spreadsheet/styles/material.css';
@import "tailwindcss";
@import "tw-animate-css";



@theme {
  --color-primary: #FD5E00;
  --color-primary-hover: #e65500;
  --color-secondary: #9A9A9A;

  --color-section: #FFFFFF;
  --color-card: #f4f4f4;

  --color-background: #E6E6E6;
  --color-foreground: #000000;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-dm-mono: var(--font-dm-mono);
  --font-stix-two-math: var(--font-stix-two-math);
  /* --font-spline-sans: var(--font-spline-sans); */

  --shadow-primary: 
  0px 2px 3px -1px #FD5E00,
  0px 1px 0px 0px #FD5E00,
  0px 8px 8px -4px #FD5E00,
  0px 20px 20px -10px #FD5E00,
  0px 40px 40px -20px #FD5E00,
  0px 60px 60px -30px #FD5E00;

  --shadow-badge: 
  0px 0px 5px 1px #FD5E00;

}
